BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 96
DerivePointerAlignment: false
InsertBraces: true
InsertNewlineAtEOF: true
PointerAlignment: Middle
QualifierAlignment: Left
ReferenceAlignment: Pointer
