# Common build directories
/build
/build*

# Common compiler artifacts
*.[ao]
*.dll
*.dylib
*.la
*.lib
*.lo
*.so

# Geany project file
*.geany

# Other commonly unwanted files
*~
.deps/
.dirstamp
.libs/
/aclocal.m4
/autom4te.cache/
/build-aux/
/compile_commands.json
/config.*
/configure
/libtool
/m4/
/misc/
/stamp-h1
Makefile
Makefile.in
