#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = optimize=-lto

%:
	dh $@

override_dh_auto_configure:
	git describe --tags --abbrev=7 --exclude='*[a-zA-Z][a-zA-Z]*' \
      | sed -E 's/^[^0-9]*//;s/-([^-]*-g)/+r\1/;s/-/./g' > version.txt

	dh_auto_configure -- --wrap-mode=default
