@media (prefers-color-scheme: dark) {
	html {
		color: #eeeeee;
		background: #2e3436;
	}
	a:link {
		color: #729fcf;
	}
	a:visited {
		color: #cb956d;
	}
	a:hover {
		color: #5db895;
	}
	a:active {
		color: #5db895;
	}
	img {
		opacity: .75;
		transition: opacity .4s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
}

pre.geany_preview_headers {
	font-size: smaller;
	font-family: monospace;
	white-space: pre-wrap;
	background: lightgray;
	color: black;
	margin-left: -0.5rem;
	margin-right: -1rem;
	margin-top: -0.5rem;
	margin-bottom: -1rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
pre.geany_preview_headers + * {
	padding-top: 1.5em;
}
